asgiref==3.6.0
autopep8==2.0.1
Django==4.1.6
django-cors-headers==3.13.0
django-countries==7.5.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
Pillow==9.4.0
psycopg2-binary==2.9.5
pycodestyle==2.10.0
PyJWT==2.6.0
python-dotenv==0.21.1
pytz==2022.7.1
pyuca==1.2
sqlparse==0.4.3
tomli==2.0.1
typing_extensions==4.5.0
whitenoise==6.3.0
